@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ffffffdd;
}

.banner-bg {
  background: radial-gradient(
        circle,
        transparent 20%,
        rgba(252, 255, 219, 0.71) 20%,
        rgba(252, 255, 219, 0.71) 80%,
        transparent 80%,
        transparent
      )
      0% 0% / 114px 114px,
    radial-gradient(
        circle,
        transparent 20%,
        rgba(252, 255, 219, 0.71) 20%,
        rgba(252, 255, 219, 0.71) 80%,
        transparent 80%,
        transparent
      )
      57px 57px / 114px 114px,
    linear-gradient(rgba(255, 226, 189, 0.4) 2.5px, transparent 2.5px) 0px -1.25px /
      57px 57px,
    linear-gradient(
        90deg,
        rgba(255, 226, 189, 0.4) 2.5px,
        rgba(252, 255, 219, 0.71) 2.5px
      ) -1.25px 0px / 57px 57px rgba(252, 255, 219, 0.71);
  background-size: 114px 114px, 114px 114px, 57px 57px, 57px 57px;
  background-color: rgba(252, 255, 219, 0.71);
}
